<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!-- plugin.xml file written by dynaTrace Client 6.1.0 -->
<plugin>
  <extension point="com.dynatrace.diagnostics.pdk.pluginconfig" id="com.dynatrace.diagnostics.plugin.NetCool" name="NetCool Event Action Plugin">
    <information>
      <category value="" />
      <displayname value="NetCool Event Action" />
      <description value="This plugin sends incident details to NetCool Impact Web Services" />
      <supportlevel value="unsupported" />
    </information>
    <configuration>
      <property key="loginName" label="Login User" type="string" description="User name to authenticate to Netcool Impact" default="user1" multiline="false" />
      <property key="loginPass" label="Login Password" type="password" description="Password for user to authenticate to Netcool Impact" default="" />
      <property key="serviceURL" label="Service URL" type="url" description="My property description ..." default="https://netcool-impact-server.mycompany.net/" />
      <property key="command" label="Policy" type="string" description="Policy to be run by Impact (the &quot;string2&quot; parameter for runPolicy)" default="IT-vCO-Create-NetCoolEvent" multiline="false" />
      <property key="override" label="Override Parameter Names?" type="boolean" description="Parameters to pass to runPolicy, in form &quot;key=value&quot; (one per line)" default="false" />
      <property key="keyDTServer" label="DT Server Parameter" type="string" description="My property description ..." default="" multiline="false">
        <visibility>
          <rule key="override" value="true" />
        </visibility>
      </property>
      <property key="keyIncidentName" label="Incident Name Parameter" type="string" description="My property description ..." default="" multiline="false">
        <visibility>
          <rule key="override" value="true" />
        </visibility>
      </property>
      <property key="keyIncidentDesc" label="Incident Description Parameter" type="string" description="My property description ..." default="" multiline="false">
        <visibility>
          <rule key="override" value="true" />
        </visibility>
      </property>
      <property key="keyViolatedMeasure" label="Violated Measure Parameter" type="string" description="My property description ..." default="" multiline="false">
        <visibility>
          <rule key="override" value="true" />
        </visibility>
      </property>
      <property key="keySourceType" label="Source Type Parameter" type="string" description="My property description ..." default="" multiline="false">
        <visibility>
          <rule key="override" value="true" />
        </visibility>
      </property>
      <property key="keySourceName" label="Source Name Parameter" type="string" description="My property description ..." default="" multiline="false">
        <visibility>
          <rule key="override" value="true" />
        </visibility>
      </property>
    </configuration>
  </extension>
  <extension point="com.dynatrace.diagnostics.pdk.action" id="com.dynatrace.diagnostics.plugin.NetCool.action" name="NetCool Event Action">
    <plugin configid="com.dynatrace.diagnostics.plugin.NetCool" class="com.dynatrace.diagnostics.plugin.NetCoolEventAction" />
  </extension>
</plugin>

